.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 18rem;
    height: 5rem;
    background: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7c62f2);
    --color: #32a6ff
}

.notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #ffffff;
    z-index: 2
}

.notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.notification:hover:after {
    transform: translateX(0.15rem)
}

.notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notification:hover .notititle {
    transform: translateX(0.15rem)
}

.notibody {
    color: #39393a;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
    font-weight: bold;
}

.notification:hover .notibody {
    transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.notiglow {
    z-index: 3;
}

.notiborderglow {
    z-index: 1;
}

.notification:hover .notiglow {
    opacity: 0.1
}

.notification:hover .notiborderglow {
    opacity: 0.1
}

.note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
}


.session-card {
    width: 90%;
    height: 165px;
    background: white;
    border-radius: 10px;
    box-shadow: 15px 15px 30px #bebebe07,
        -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
}

.img {
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom right, #e664cea9, #8ed6f0), url('images/bg-2.png');
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: top;
    justify-content: right;
}


.text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}


.icon-box {
    margin-top: 15px;
    width: 70%;
    padding: 10px;
    background-color: #e3fff9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.icon-box svg {
    width: 17px;
}

.text .h3 {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.text .p {
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 13px;
}

.icon-box .span {
    margin-left: 10px;
    font-family: 'Lucida Sans' sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #9198e5;
}

.session-card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}